body {
  font-family : 'Consolas';
}

img {
  height : 150px;
  width  : 90px;
}

.titulo {
	text-align : center;
}

.produtos {
  display : inline-block;
  margin  : 5px;
  margin-bottom : 20px;
}

.itemProduto {
  display : inline-block;  
}

.cabecalho-rodape {
	height : 100px;
	background-color : navy;
	color : white;
	text-align : center;
	vertical-align : middle;
	line-height : 100px;
	font-size : 20px;
	font-weight : bold;	
}

.imagemLivro {
  display : inline;
  vertical-align : top;
}

.dadoLivro  {
  display : block; 
}
